<!-- user表单弹窗 -->
<form id="staff-form" lay-filter="staff-form" class="layui-form model-form">
    <input name="staffId" type="hidden"/>
    <div class="layui-form-item">
        <label class="layui-form-label">提货点</label>
        <div class="layui-input-inline">
            <select name="pickUpStationId"   xm-select-radio  xm-select="pickUpStationId" lay-verify="required">
                <% for(station in stations) { %>
                <option value="${station.pickUpStationId}">${station.pickUpStationName}</option>
                <% } %>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">账号</label>
        <div class="layui-input-inline">
            <input name="user.username" placeholder="请输入账号" type="text" class="layui-input" maxlength="20"
                   lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input name="user.nickName" placeholder="请输入用户名" type="text" class="layui-input" maxlength="20"
                   lay-verify="required" required/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">性别</label>
        <div class="layui-input-inline">
            <input type="radio" name="user.sex" value="男" title="男" checked/>
            <input type="radio" name="user.sex" value="女" title="女"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">類型</label>
        <div class="layui-input-inline">
            <input type="radio" name="staffType" value="1" title="操作員" checked/>
            <input type="radio" name="staffType" value="2" title="派送員"/>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">手機號</label>
        <div>
            <div class="layui-input-inline" style="width: 80px" >
                <select name="areaCode">
                    <option value="010">澳門</option>
                    <option value="86">中國大陸</option>
                    <option value="0571">香港</option>
                </select>
            </div>
            <div class="layui-form-mid">-</div>
        </div>
        <div class="layui-input-inline" style="width: 150px">
            <input name="user.phone" placeholder="请输入手机号" type="text" class="layui-input" lay-verify="required|phone"
                   required/>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="staff-form-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'admin', 'form', 'formSelects'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;
        var formSelects = layui.formSelects;
        form.render();
        var url = 'site/staff/add';
        // 回显user数据
        var staff = admin.getTempData('t_staff');
        if (staff) {
            console.log(staff)
            url = 'site/staff/edit';
            form.val('staff-form', {
                'user.username':staff.user.username,
                'user.nickName':staff.user.nickName,
                'user.phone':staff.user.phone,
                'user.sex':staff.user.sex,
                'staffType':staff.staffType+"",
                'staffId':staff.staffId
            });
            console.log([staff.pickUpStationId])
            formSelects.value('pickUpStationId', [staff.pickUpStationId]);
        }

        // 表单提交事件
        form.on('submit(staff-form-submit)', function (data) {
            layer.load(2);
            var param = data.field;
            // param.staffId =
            $.post(url, data.field, function (data) {
                layer.closeAll('loading');
                if (!data.code) {
                    layer.msg(data.msg, {icon: 1});
                    admin.finishPopupCenter();
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });
    });
</script>
