<!-- user表单弹窗 -->
<form id="orderlocus-form" lay-filter="orderlocus-form" class="layui-form model-form">
    <div class="layui-form-item">
        <label class="layui-form-label">標題</label>
        <div class="layui-input-inline">
            <input name="title" placeholder="請輸入標題" type="text" class="layui-input" maxlength="20"
                   lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">地點</label>
        <div class="layui-input-inline">
            <input name="place" placeholder="請輸入當前位置" type="text" class="layui-input" maxlength="20"
                   lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">描述</label>
        <div class="layui-input-inline">
            <textarea name="tbExplain" placeholder="请输入内容" class="layui-textarea" maxlength="200"></textarea>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">狀態</label>
        <div class="layui-input-inline">
            <input type="radio" name="status" value="1" title="正常" checked/>
            <input type="radio" name="status" value="0" title="異常"/>
        </div>
    </div>

    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="orderlocus-form-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'admin', 'form', 'formSelects'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;
        var formSelects = layui.formSelects;

        form.render('radio');

        var url = 'order/orderRecord/add';

        var orderIds = admin.getTempData('t_order_locus');
        // 表单提交事件
        form.on('submit(orderlocus-form-submit)', function (data) {
            var param = data.field;
            layer.load(2);
            param.orderIds = orderIds;
            console.log(param)
            $.post(url, param, function (data) {
                layer.closeAll('loading');
                if (!data.code) {
                    layer.msg(data.msg, {icon: 1});
                    admin.finishPopupCenter();
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });
    });
</script>