<!-- user表单弹窗 -->
<form id="liveTask-form" lay-filter="liveTask-form" class="layui-form model-form">
    <input name="id" type="hidden"/>

    <div class="layui-form-item">
        <label class="layui-form-label">賬號</label>
        <div class="layui-input-inline">
            <input name="username" placeholder="请输入用戶名" type="text" class="layui-input" maxlength="20"
                   lay-verify="required" required/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input name="password" placeholder="请输入密码" type="text" class="layui-input" maxlength="20"
                   lay-verify="required" required/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">状态</label>
        <div class="layui-input-inline">
            <option value="0">进行中</option>
            <option value="1">已完成</option>
            <option value="2">已暂停</option>
            <option value="3">已过期</option>
        </div>
    </div>
    <div class="layui-form-item model-form-footer">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
        <button class="layui-btn" lay-filter="liveTask-form-submit" lay-submit>保存</button>
    </div>
</form>

<script>
    layui.use(['layer', 'admin', 'form'], function () {
        var layer = layui.layer;
        var admin = layui.admin;
        var form = layui.form;
        form.render();
        // form.render('radio');

        var url = 'liveTask/liveTask/add';
        // 回显user数据
        var tem = admin.getTempData('t_liveTask');
        if (tem) {
            $('input[name="username"]').attr('readonly', 'readonly');
            url = 'liveTask/liveTask/edit';
            form.val('liveTask-form', tem);
            form.val('liveTask-form', tem.accountInfo);
        }

        // 表单提交事件
        form.on('submit(liveTask-form-submit)', function (data) {
            layer.load(2);
            $.post(url, data.field, function (data) {
                layer.closeAll('loading');
                if (!data.code) {
                    layer.msg(data.msg, {icon: 1});
                    admin.finishPopupCenter();
                } else {
                    layer.msg(data.msg, {icon: 2});
                }
            });
            return false;
        });
    });
</script>
